# Supabase configuration
SUPABASE_URL=http://127.0.0.1:54321  # Your Kong port from docker-compose
SUPABASE_ANON_KEY=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx

# Turnstile configuration
TURNSTILE_SITE_KEY=0x4AAAAAABqUNmeuU-pqb-o9
TURNSTILE_SECRET_KEY=0x4AAAAAABqUNl-v1lP18SwsRUxZPB0PelY

