# Supabase anon key
# To get this key, go to http://localhost:54323/, click the user icon in the top right corner, click `Command`, then search key. Copy the Anonymous API key.
SUPABASE_KEY=xxx

## Custom variables for sightings app
SITE_URL=http://localhost:3000

SUPABASE_URL=http://localhost:54321

# TODO, BOT owned Mapbox and Turnstile accounts/keys
MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoid2lsZGFtZXIiLCJhIjoiY21lNzI4NG4xMDAxcDJtcXlpZWNua2lldCJ9.1FdRbI-1Us9f-TyL8vO2rQ

TURNSTILE_SITE_KEY=0x4AAAAAABqUNmeuU-pqb-o9
TURNSTILE_SECRET_KEY=0x4AAAAAABqUNl-v1lP18SwsRUxZPB0PelY